<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(userId=${userId})"/>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" th:if="${!#strings.isEmpty(feature.name)}" th:text="${feature.name}">Property
            Details</h1>
        <h1 class="display-4" th:unless="${!#strings.isEmpty(feature.name)}">New Feature</h1>
        <p class="lead">View and edit property feature details.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div th:replace="fragments/property-nav :: propertyNav(${feature.property.id}, ${userId}, 'features')"/>
        </div>

        <div class="col">
            <main class="starter-template">
                <div class="alert alert-success" th:if="${!#strings.isEmpty(message)}" th:text="${message}"></div>

                <!-- Nav tabs -->
                <div th:replace="fragments/details :: tabs(${files})"/>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <form action="#" th:action="${action}" th:object="${feature}" method="post">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label th:for="name">Feature Name</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label th:for="type">Feature Type</label>
                                    <!--<input type="text" class="form-control" th:field="*{type}"/>-->
                                    <select class="form-control" name="type" id="type">
                                        <option th:each="featureType : ${T(com.clstephenson.homeinfo.model.FeatureType).values()}"
                                                th:value="${featureType}"
                                                th:text="${featureType}"
                                                th:selected="(${featureType}==*{type}) ? true : false">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label th:for="location">Location</label>
                                    <select class="form-control" name="location.id" id="location.id">
                                        <option value="-1">None Selected</option>
                                        <option th:each="location : ${locationList}"
                                                th:value="${location.id}"
                                                th:text="${location.name}"
                                                th:selected="(${location?.id}==*{location?.id}) ? true : false">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label th:for="notes">Notes</label>
                                    <textarea class="form-control" th:field="*{notes}"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <input type="hidden" th:field="*{property.id}"/>
                                    <input type="hidden" th:field="*{id}"/>
                                    <button type="submit" name="action" th:value="save" class="btn btn-primary">Save
                                        Changes
                                    </button>
                                    <button type="submit" name="action" th:value="delete" class="btn btn-danger">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="files" role="tabpanel" aria-labelledby="files-tab">
                        <div th:replace="fragments/details :: fileList(${category}, ${feature.id}, ${feature.property.id}, ${files})"/>
                    </div>
                </div>

            </main>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>